@charset "UTF-8";

/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

:focus {
    outline: 0;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Tahoma, sans-serif;
    /* background-color: gray; */
}

.hidden {
    display: none;
}

.text-center {
    text-align: center;
}

/* ********** | NAVBAR | ********** */

.nav_main {
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    z-index: 2;
    background-color: #fff;
}

.nav_main_navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 45px 6px;
}


/* NAVBAR - menu lists */
.nav_main_list {
    display: flex;
    margin-left: 0px;
    padding-left: 0px;
}

.nav_main_list li {
    list-style: none;
    margin-right: 20px;
}

.nav_main_list a {
    text-decoration: none;
    color: #949aa1;
    font-size: 14px;
    transition: color 0.5s;
}

.nav_main_list a:hover {
    color: #222;
}

/* NAVBAR - logo */
.nav_center_h {
    margin-top: -3px;
}

.nav_center_h h3 {
    font-weight: 300;
}

.nav_center_h span {
    font-weight: 600;
}

.nav_main_list_button {
    width: 80px;
    height: 40px;
    background-color: #fff;
    border: .5px solid #e7e7e7;
    border-radius: 30px;
    margin-top: -20px;
    cursor: pointer;
}

.nav_main_list_button i {
    margin-left: 0px;
    font-size: 14px;
    color: #949aa1;
    transition: color 0.5s;
}

.nav_main_list_button:hover i {
    color: #222;
}

.nav_main_list_button span {
    padding: 7px 11px;
    background-color: #91b898;
    border-radius: 50%;
    margin-left: 15px;
    color: #fff;
}

@media screen and (max-width: 992px) {
    .nav_main_navbar {
        display: none;
    }
}

/* ********** | NAVBAR SHOP SECTION | ********** */
.navbar_shop {
    display: flex;
}

.navbar_shop .shop_nav:first-child {
    margin-right: 150px;
}

.shop_nav {
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 40px;
    list-style: none;
}

.shop_nav li {
    margin: 7px 100px 0px 45px;
}

.shop_nav li a {
    text-decoration: none;
    color: #949aa1;
    font-size: 14px;
}

.shop_nav li a:hover {
    margin-left: 3px;
    color: black;
    transition: all .3s;
}

.shop_nav li img {
    width: 150px;
}


/* ********** | MOBILE NAVBAR | ********** */
.nav_main_mob_navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px 6px 20px;
}

.nav_main_btn {
    cursor: pointer;
}

#close_btn {
    display: none;
}

/* MOBILE NAVBAR - hidden manu */
.short_mob {
    width: 0px;
    overflow-y: scroll;
    height: 92vh;
    position: fixed;
    background-color: #fff;
    transition: all .3s;
}


.shop_nav_ul {
    list-style: none;
}

.shop_nav_ul li {
    margin: 20px 45px 0px 0px;
    color: #222;
}

.shop_nav_ul li a {
    text-decoration: none;
    color: #949aa1;
    font-size: 14px;
    transition: all .3s;
}

.shop_nav_ul li a:hover {
    margin-left: 3px;
    color: #000;
}

.navbar_shop_mob {
    display: flex;
    width: 150px;
}

.shop_nav_ul.clr_blk li {
    color: #949aa1;
}

.shop_nav_ul.clr_blk a {
    color: #000;
}

.about_stories p {
    color: #949aa1;
    font-size: 14px;
    border-bottom: 1px solid #f0f1f1;
    padding: 10px 0 20px 40px;
}



@media screen and (min-width: 991px) {
    .nav_main_mob_navbar {
        display: none;
    }

    .short_mob {
        display: none;
    }
}

/* ********** | TEXT SLIDER | ********** */

#slider {
    width: 100%;
    height: 80px;
    overflow: hidden;
    margin-top: 83px;
    background-color: #f8f8f8;
}

.slides {
    position: relative;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

.slides li {
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    background: #f8f8f8;
}


/* ********** | NEW ARRIVALS SECTION | ********** */

.bgImage {
    background-image: url('../images/img01.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}

.headerHeading {
    position: absolute;
    top: 25%;
    right: 10%;
}

@media only screen and (max-width:991px) {
    .headerHeading {
        right: unset;
        left: 5%;
    }
}


.headerHeading h3 {
    color: #fff;
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: 300;
}
.headerHeading h3 span{
    display: block;
}

.headerHeading p {
    color: #fff;
    font-size: 20px;
    margin-top: 0px;
    font-weight: 300;
}

.new_ariival_btn {
    margin-top: 40px;
    outline: none;
    font-size: 20px;
    padding: 10px 25px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    font-weight: 300;
}

/* ********** | NEW ARRIVALS SECTION 01 | ********** */

.main_show {
    margin-top: 80px;
}

.section_title {
    color: #949aa1;
    font-weight: 300;
    padding: 0 10px;
}

.newshow {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.newshow img {
    margin-top: 30px;
    width: 100%;
    max-width: 500px;
}

.newshow_text {
    margin-top: 30px;
    text-align: center;
}

.newshow_text p {
    color: #949aa1;
}

.newshow_text button {
    background-color: #fff;
    color: #000;
    font-weight: 300;
    border: 0.5px solid lightgrey;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    transition: .5s;
}

.newshow_text button:hover {
    background-color: lightcyan;
}

.extra_img {
    background-image: url('../images/img03.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 70px;
}

/* ********** | PRODUCT SECTION | ********** */

.product_sec {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.main_card {
    width: 260px;
    margin-bottom: 20px;
    padding-left: 20px;
    cursor: pointer;
}

.main_card p {
    font-size: 14px;
    margin-top: 0px;
}

.main_card .price {
    margin-left: 10px;
    color: #949aa1;
}

.main_card img {
    margin-bottom: 10px;
    margin-top: 20px;
    cursor: pointer;
    width: 240px;
    height: 300px;
}


/* ********** | SUBSCRIBE SECTION | **********  */

.subScriberBgImage {
    margin-top: 100px;
    background-image: url('../images/img11.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.subScriberSecHeadings {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10%;
}

.subScriberSecHeadings h2 {
    font-size: 55px;
    color: #ffffff;
    font-weight: normal;
    margin-bottom: 10px;
}

.subScriberSecHeadings p {
    font-size: 20px;
    margin-top: 20px;
    color: #ffffff;
    font-weight: 400;
}

.custum {
    margin: 20px auto 0;
}

.cls_input {
    margin-top: 0px;
    width: 20%;
    min-width: 200px;
    max-width: 20%;
    height: 61px;
    padding-left: 20px;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 300;
}

.join_btn {
    background-color: #91b898;
    margin-left: -5px;
    margin-top: 0px;
    min-width: 100px;
    max-width: 150px;
    height: 62px;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    color: #fff;
}

/* ********** | MENU BEFORE FOOTER SECTION | **********  */
/* Shop Arrivals */
.for_setting_pu {
    display: flex;
    flex-wrap: wrap;
    margin: 70px 40px 70px 40px;
    flex-shrink: 2;
}

.shop_arrivals_main h4,
.pic_arrivals_main h4 {
    font-size: 24px;
    font-weight: lighter;
}

.setting_li {
    display: flex;
    flex-wrap: wrap;
}

.setting_li .shop_nav_ul {
    margin-left: 0;
    padding-left: 0;
    flex-grow: 1;
}


@media only screen and (max-width:991px) {
    .setting_li .shop_nav_ul {
        width: 100%;
    }
}

.shop_arrivals_main,
.pic_arrivals_main {
    flex: 1 0 50%;
}

/* New Items */
.pic_arrivals {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.new_items_h4 {
    margin-left: 20px;
}

.product-grid9 {
    margin-left: 20px;
}


.product-grid9,
.product-grid9 .product-image9 {
    position: relative
}

.product-grid9 {
    z-index: 1
}

.product-grid9 .product-image9 a {
    display: block;
    width: 200px;
}

.product-grid9 .product-image9 img {
    width: 100%;
    height: auto
}

.product-grid9 .pic-1 {
    opacity: 1;
    transition: all .5s ease-out 0s
}

.product-grid9:hover .pic-1 {
    opacity: 0
}

.product-grid9 .pic-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s ease-out 0s
}

.product-grid9:hover .pic-2 {
    opacity: 1
}


@media only screen and (max-width:991px) {
    .product-grid9 {
        margin-bottom: 30px
    }
}

/* ********** | FOOTER | ********** */

.bg_light {
    background-color: #f8f8f8;
}

.footer_main {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.captionedImg {
    width: 120px;
}


.footer_2_div {
    display: flex;
    flex-wrap: wrap;
}

.footer_main>div {
    margin-left: 40px;
    margin-right: 20px;
}

.footer_main ul {
    padding-left: 0px;
    list-style: none;
}

.footer_main li a,
.userInfoBox a {
    font-size: 13px;
    font-weight: 300;
    margin-top: 13px;
    color: #949aa1;
    display: block;
    cursor: pointer;
    text-decoration: none;
    transition: color .3s;
}

.footer_main li a:hover,
.userInfoBox a:hover {
    color: #000;
}

.footer_main h5 {
    font-size: 15px;
    font-weight: 300;
}

.userInfoBox {
    margin-left: 10px;
}

.userInfoBox p {
    color: rgb(231, 77, 101);
    font-size: 15px;
    margin-bottom: 20px;
}

.linkBox h4 {
    font-size: 15px;
    font-weight: 300;
}


.last_foot {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 50px;
    position: relative;
    margin-bottom: 20px;  
}


.last_foot_div,
.right_Foot {
    flex: 1 0 50%;
}

.right_Foot{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.right_Foot a {
    margin-left: 20px;
    text-decoration: none;
    color: #949aa1;
    font-weight: 300;
    transition: all .3s;
}

.right_Foot a:hover{
    color: #000;
}

@media only screen and (max-width:991px) {
    .right_Foot {
        margin-top: 20px;
    }
    .right_Foot a {
        font-size: 12px;
        text-align: center;
        display: inline-block
    }
}