@charset "UTF-8";

/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

:focus {
    outline: 0;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gordita Regular', Verdana, Tahoma, sans-serif;
}
.container{
    width: 100%;
    max-width: 90em;
    margin: 0 auto;
}

@media screen and (max-width: 992px) {
    .container {
        padding: 1.25em;
    }
}


.hidden {
    display: none;
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none;
}

p{
    color: #949aa1;
    font-size: 14px;
}

.fix_navbar{
    padding-top: 80px;
}
/* ********** | NAVBAR | ********** */
.nav_main {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 2;
    background-color: #fff;
}

.nav_main_navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.9375em 0 0.375em;
}


/* NAVBAR - menu lists */
.nav_main_list {
    display: flex;
    margin-left: 0;
    padding-left: 0;
}

.nav_main_list li {
    list-style: none;
    margin-right: 1.25em;
}

.nav_main_list a {
    
    color: #949aa1;
    font-size: 0.875em;
    transition: color 0.5s;
}

.nav_main_list a:hover {
    color: #222;
}

/* NAVBAR - logo */
.nav_center_h {
    margin-top: -0.1875em;
}

.nav_center_h h3 {
    font-weight: 300;
}

.nav_center_h span {
    font-weight: 600;
    font-family: 'Gordita Bold', Verdana, Tahoma, sans-serif;;
}

.nav_main_list_button {
    width: 80px;
    height: 40px;
    background-color: #fff;
    border: .5px solid #e7e7e7;
    border-radius: 30px;
    margin-top: -20px;
    cursor: pointer;
}

.nav_main_list_button i {
    margin-left: 0px;
    font-size: 14px;
    color: #949aa1;
    transition: color 0.5s;
}

.nav_main_list_button:hover i {
    color: #222;
}

.nav_main_list_button span {
    padding: 0.4375em 0.6875em;
    background-color: #91b898;
    border-radius: 50%;
    margin-left: 0.9375em;
    color: #fff;
}

@media screen and (max-width: 992px) {
    .nav_main_navbar {
        display: none;
    }
}


/* ********** | NAVBAR SHOP SECTION | ********** */
.navbar_shop,
.navbar_shop_left, 
.navbar_shop_right{
    display: flex;
    justify-content: space-between;
}
.navbar_shop_left{
    flex-grow: 2;   
    padding-right: 10%;
}
.navbar_shop_right{
    flex-grow: 1;
}
.navbar_shop .shop_nav {
    margin-right: 10%;
}

.shop_nav {
    margin-left: 0;
    padding-left: 0;
    /* margin-top: 2.5em; */
    list-style: none;
}

.shop_nav li {
    /* margin: 0.4375em 0 0 2.8125em; */
    margin-top: 0.4375em;
}

.shop_nav li a {
    color: #949aa1;
    font-size: 0.875em;
}

.shop_nav li a:hover {
    margin-left: 0.1875em;
    color: black;
    transition: all .3s;
}

.shop_nav li img {
    width: 9.375em;
}


/* ********** | MOBILE NAVBAR | ********** */
.nav_main_mob_navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.9375em 0 0.375em 1.25em;
}

.nav_main_btn {
    cursor: pointer;
}



/* MOBILE NAVBAR - hidden manu */
.short_mob {
    width: 0;
    overflow-y: scroll;
    height: 92vh;
    position: fixed;
    background-color: #fff;
    transition: all .3s;
}
.short_mob.is_open{
    width: 350px;
}


.shop_nav_ul {
    list-style: none;
}

.shop_nav_ul li {
    margin: 1.25em 2.8125em 0 0;
    color: #222;
}

.shop_nav_ul li a {
    
    color: #949aa1;
    font-size: 0.875em;
    transition: all .3s;
}

.shop_nav_ul li a:hover {
    margin-left: 0.1875em;
    color: #000;
}

.navbar_shop_mob {
    display: flex;
    width: 9.375em;
}

.shop_nav_ul.clr_blk li {
    color: #949aa1;
}

.shop_nav_ul.clr_blk a {
    color: #000;
}

.about_stories p {
    color: #949aa1;
    font-size: 0.875em;
    border-bottom: 0.0625em solid #f0f1f1;
    padding: 0.625em 0 1.25em 2.5em;
}


@media screen and (min-width: 991px) {
    .nav_main_mob_navbar {
        display: none;
    }

    .short_mob {
        display: none;
    }
}

/* ********** | TEXT SLIDER | ********** */

#slider {
    width: 100%;
    height: 5em;
    overflow: hidden;
    background-color: #f8f8f8;
}

.slides {
    position: relative;
    margin: 0;
    margin-top: 0.625em;
    padding: 0;
    transition: all 1s;
}

.slides li {
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 1.25em 0;
    background: #f8f8f8;
    list-style: none;
}


/* ********** | NEW ARRIVALS SECTION | ********** */

.bgImage {
    background-image: url('../images/img01.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}

.headerHeading {
    position: absolute;
    top: 25%;
    right: 10%;
}

@media only screen and (max-width:991px) {
    .headerHeading {
        right: unset;
        left: 5%;
    }
}


.headerHeading h3 {
    color: #fff;
    font-size: 3.125em;
    margin-bottom: 0.625em;
    font-weight: 300;
}

.headerHeading h3 span {
    display: block;
}

.headerHeading p {
    color: #fff;
    font-size: 1.25em;
    margin-top: 0;
    font-weight: 300;
}

.new_ariival_btn {
    margin-top: 2.5em;
    outline: none;
    font-size: 1.25em;
    padding: 0.625em 1.5625em;
    border: none;
    border-radius: 0.0625em;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    font-weight: 300;
}

/* ********** | NEW ARRIVALS SECTION 01 | ********** */

.main_show {
    margin-top: 5em;
}

.section_title {
    color: #949aa1;
    font-weight: 300;
    padding: 0 0.625em;
}

.newshow {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.newshow img {
    margin-top: 1.875em;
    width: 100%;
    max-width: 31.25em;
}

.newshow_text {
    margin-top: 1.875em;
    text-align: center;
}

.newshow_text p {
    color: #949aa1;
}

.newshow_text button {
    background-color: #fff;
    color: #000;
    font-weight: 300;
    border: 0.0313em solid lightgrey;
    padding: 0.625em 1.25em 0.625em 1.25em;
    cursor: pointer;
    transition: .5s;
}

.newshow_text button:hover {
    background-color: lightcyan;
}

.extra_img {
    background-image: url('../images/asset-10.jpeg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 4.375em;
}

/* ********** | PRODUCT SECTION | ********** */

.product_sec {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 6.25em;
}

.main_card {
    width: 16.25em;
    margin-bottom: 1.25em;
    padding-left: 1.25em;
    cursor: pointer;
}

.main_card p {
    font-size: 0.875em;
    margin-top: 0;
}

.main_card .price {
    display: block;
    color: #949aa1;
}

.main_card img {
    margin-bottom: 0.625em;
    margin-top: 1.25em;
    cursor: pointer;
    width: 15em;
    height: 18.75em;
}


/* ********** | SUBSCRIBE SECTION | **********  */

.subScriberBgImage {
    margin-top: 6.25em;
    background-image: url('../images/img11.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.subScriberSecHeadings {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10%;
}

.subScriberSecHeadings h2 {
    font-size: 3.4375em;
    color: #ffffff;
    font-weight: normal;
    margin-bottom: 0.625em;
}

.subScriberSecHeadings p {
    font-size: 1.25em;
    margin-top: 1.25em;
    color: #ffffff;
    font-weight: 400;
}

.custum {
    margin: 1.25em auto 0;
}

.cls_input {
    margin-top: 0;
    width: 20%;
    min-width: 12.5em;
    max-width: 20%;
    height: 3.8125em;
    padding-left: 1.25em;
    outline: none;
    border: none;
    font-size: 1.125em;
    font-weight: 300;
}

.join_btn {
    background-color: #91b898;
    margin-left: -0.3125em;
    margin-top: 0;
    min-width: 6.25em;
    max-width: 9.375em;
    height: 3.875em;
    outline: none;
    border: none;
    font-size: 1.125em;
    font-weight: 300;
    cursor: pointer;
    color: #fff;
}

/* ********** | MENU BEFORE FOOTER SECTION | **********  */
/* Shop Arrivals */
.for_setting_pu {
    display: flex;
    flex-wrap: wrap;
    margin: 2.5em 0 2.5em;
    flex-shrink: 2;
}

.shop_arrivals_main h4,
.pic_arrivals_main h4 {
    font-size: 1.5em;
    font-weight: lighter;
}

.setting_li {
    display: flex;
    flex-wrap: wrap;
}

.setting_li .shop_nav_ul {
    margin-left: 0;
    padding-left: 0;
    flex-grow: 1;
}


@media only screen and (max-width:991px) {
    .setting_li .shop_nav_ul {
        width: 100%;
    }
}

.shop_arrivals_main,
.pic_arrivals_main {
    flex: 1 0 50%;
}

/* New Items */
.pic_arrivals {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.new_items_h4 {
    margin-left: 1.25em;
}

.product-grid9 {
    margin-left: 1.25em;
}


.product-grid9,
.product-grid9 .product-image9 {
    position: relative
}

.product-grid9 {
    z-index: 1
}

.product-grid9 .product-image9 a {
    display: block;
    width: 12.5em;
}

.product-grid9 .product-image9 img {
    width: 100%;
    height: auto
}

.product-grid9 .pic-1 {
    opacity: 1;
    transition: all .5s ease-out 0s
}

.product-grid9:hover .pic-1 {
    opacity: 0
}

.product-grid9 .pic-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s ease-out 0s
}

.product-grid9:hover .pic-2 {
    opacity: 1
}


@media only screen and (max-width:991px) {
    .product-grid9 {
        margin-bottom: 1.875em
    }
}

/* ********** | FOOTER | ********** */

.bg_light {
    background-color: #f8f8f8;
}

.footer_main {
    padding-top: 4.375em;
    padding-bottom: 4.375em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer_main_contacts{
    display: flex;
    justify-content: space-around;
}
.captionedImg {
    width: 7.5em;
}

.footer_2_div {
    display: flex;
    flex-wrap: wrap;
}

.footer_main>div {
    margin-left: 2.5em;
    margin-right: 1.25em;
}
.footer_main>div:first-child {
    margin-left: 0;
}

.footer_main ul {
    padding-left: 0;
    list-style: none;
}

.footer_main li a,
.userInfoBox a {
    font-size: 0.8125em;
    font-weight: 300;
    margin-top: 0.8125em;
    color: #949aa1;
    display: block;
    cursor: pointer;
    
    transition: color .3s;
}

.footer_main li a:hover,
.userInfoBox a:hover {
    color: #000;
}

.footer_main h5 {
    font-size: 0.9375em;
    font-weight: 300;
}

.userInfoBox {
    margin-left: 0.625em;
}

.userInfoBox p {
    color: rgb(231, 77, 101);
    font-size: 0.9375em;
    margin-bottom: 1.25em;
}

.linkBox h4 {
    font-size: 0.9375em;
    font-weight: 300;
}


.last_foot {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
}


.last_foot_div,
.right_Foot {
    flex: 1 0 50%;
}

.right_Foot {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    padding-left: 0;
}
.right_Foot li a{
    margin: 0 .75em;
}
.right_Foot a {
    color: #949aa1;
    font-weight: 300;
    transition: all .3s;
    font-size: 0.8125em;
}

.right_Foot a:hover {
    color: #000;
}

@media only screen and (max-width:991px) {
    .footer_main > div{
       margin: .75em 0;
    }
    .last_foot_div{
        text-align: center;
    }
    .right_Foot {
        margin-top: 1.25em;
    }

    .right_Foot a {
        font-size: 0.75em;
        text-align: center;
        display: inline-block
    }
}


/* #### Generated By: http://www.cufonfonts.com #### */
@font-face {
    font-family: 'Gordita Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Regular'), url('../fonts/Gordita Regular.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Regular Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Regular Italic'), url('../fonts/Gordita Regular Italic.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Thin'), url('../fonts/Gordita Thin.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Thin Italic'), url('../fonts/Gordita Thin Italic.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Light';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Light'), url('../fonts/Gordita Light.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Light Italic'), url('../fonts/Gordita Light Italic.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Medium'), url('../fonts/Gordita Medium.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Medium Italic'), url('../fonts/Gordita Medium Italic.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Bold'), url('../fonts/Gordita Bold.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Bold Italic'), url('../fonts/Gordita Bold Italic.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Black';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Black'), url('../fonts/Gordita Black.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Black Italic'), url('../fonts/Gordita Black Italic.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Ultra';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Ultra'), url('../fonts/Gordita Ultra.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Ultra Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Ultra Italic'), url('../fonts/Gordita Ultra Italic.woff') format('woff');
}