@charset "UTF-8";

/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

:focus {
    outline: 0;
}

html { /* 
    https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust
    https://github.com/necolas/normalize.css/blob/master/normalize.css
    
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.   
*/
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gordita Regular', Verdana, Tahoma, sans-serif;
    padding-top: 6.133em;
}

.container {
    width: 100%;
    max-width: 90em;
    margin: 0 auto;
    padding-left: 1.25em;
    padding-right: 1.25em;
}

.hidden {
    display: none;
}

a {
    color: #949aa1;
    text-decoration: none;
    transition: all .3s;
    position: relative;
    left: 0;
}

a:hover {
    left: 0.1875em;
    color: #000;
}

p {
    color: #949aa1;
    font-size: 0.875em;
}

@media screen and (max-width: 61.9375em) {
    body {
        padding-top: 4.375em;
    }
}


/* ********** | NAVBAR | ********** */
header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 2;
    /* ********** | https://developer.mozilla.org/en-US/docs/Web/CSS/z-index| ********** */
    background-color: #fff;
}

header>.container {
    display: flex;
    justify-content: space-between;
    padding-top: 0.9375em;
    padding-bottom: 0.375em;
    align-items: center;
}

header>.container a:hover {
    left: 0;
}


/* NAVBAR - menu lists */
header>.container ul {
    display: flex;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    align-items: center;
}

header>.container ul li {
    margin-right: 1.25em;
}

header>.container ul a {
    font-size: 0.875em;
}


/* NAVBAR - logo */
header .container>div {
    margin-left: -11%;
}

header .container>div a {
    font-weight: 300;
    color: #222;
}

header .container>div span {
    font-weight: 600;
    font-family: 'Gordita Bold', Verdana, Tahoma, sans-serif;
}

/* NAVBAR - rigth menu  */
.nav_main_list_button {
    background-color: #fff;
    border: .075em solid #e7e7e7;
    border-radius: 1.8em;
    display: block;
    padding: 0.55em .85em;
    display: flex;
    align-items: center;
}

.nav_main_list_button i {
    color: #949aa1;
    transition: color 0.5s;
}

.nav_main_list_button:hover {
    left: 0;
}

.nav_main_list_button:hover i {
    color: #222;
}

.nav_main_list_button span {
    width: 1.8em;
    height: 1.8em;
    display: inline-block;
    background-color: #91b898;
    border-radius: 50%;
    font-size: 0.85em;
    margin-left: 0.9375em;
    color: #fff;
    text-align: center;
    line-height: 2.15em;
}

@media screen and (max-width: 61.9375em) {
    header .container>div {
        margin-left: -5%;
    }

    header>.container {
        display: none;
    }

    .nav_main_list_button {
        border-radius: 1.8em;
        padding: 0.45em .65em;
        margin-top: -0.25em;
    }

    .nav_main_list_button span {
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        font-size: 0.55em;
        margin-left: 0.9375em;
        text-align: center;
        line-height: 1.7em;
    }


}


/* ********** | NAVBAR SHOP SECTION | ********** */
.navbar_shop_mega {
    display: none;
}

.navbar_shop_mega nav,
.navbar_shop_mega nav div {
    display: flex;
    justify-content: space-between;
}

.navbar_shop_mega nav div {
    flex-grow: 2;
}

.navbar_shop_mega nav div ul:last-child {
    padding-right: 15%;
}

.navbar_shop_mega nav div:nth-child(2) {
    flex-grow: 1;
}

.navbar_shop_mega ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

.navbar_shop_mega nav ul li {
    margin-top: 0.7em;
}

.navbar_shop_mega nav a {
    font-size: 0.875em;
}

.navbar_shop_mega nav div:nth-child(2) ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar_shop_mega nav img {
    width: 9.375em;
}


/* ********** | MOBILE NAVBAR | ********** */
.nav_main_mob_navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 0.375em;
    padding-bottom: 0.375em;
}

.nav_main_mob_navbar ul {
    list-style: none;
    display: flex;
    margin-left: 0;
    padding-left: 0;
    justify-content: center;
    align-items: center;
}

.nav_main_mob_navbar ul li {
    margin-right: 1.25em;
}

.nav_main_mob_navbar ul:nth-child(3) li {
    margin-right: 0;
}

.nav_main_mob_navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hamburger span {
    width: 0.875em;
    height: 0.0625em;
    background-color: #070707;
    display: block;
    margin: 0.25em auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
}

.hamburger.is-active span:nth-child(1) {
    -webkit-transform: translateY(0.3125em) rotate(45deg);
    -ms-transform: translateY(0.3125em) rotate(45deg);
    -o-transform: translateY(0.3125em) rotate(45deg);
    transform: translateY(0.3125em) rotate(45deg);
}

.hamburger.is-active span:nth-child(3) {
    -webkit-transform: translateY(-0.3125em) rotate(-45deg);
    -ms-transform: translateY(-0.3125em) rotate(-45deg);
    -o-transform: translateY(-0.3125em) rotate(-45deg);
    transform: translateY(-0.3125em) rotate(-45deg);
}


/* ********** | MOBILE MENU | ********** */
.short_mob {
    width: 0;
    overflow-y: scroll;
    height: 92vh;
    position: fixed;
    background-color: #fff;
    transition: all .3s;
}


.short_mob ul {
    list-style: none;
}

.short_mob ul li {
    margin: 1.25em 2.8125em 0 0;
    color: #222;
}

.short_mob ul li a {
    color: #949aa1;
    font-size: 0.875em;
    transition: all .3s;
}

.short_mob ul li a:hover {
    margin-left: 0.1875em;
    color: #000;
}

.short_mob div:nth-of-type(1) {
    display: flex;
}

.short_mob div:nth-of-type(2) p {
    color: #949aa1;
    font-size: 0.875em;
    border-bottom: 0.0625em solid #f0f1f1;
    padding: 0.625em 0 1.25em 2.5em;
}


@media screen and (min-width: 61.9375em) {
    .nav_main_mob_navbar {
        display: none;
    }

    .short_mob {
        display: none;
    }
}

/* ********** | TEXT SLIDER | ********** */
#slider {
    width: 100%;
    height: 3.625em;
    overflow: hidden;
    background-color: #f8f8f8;
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    transition: all 1s ease-in-out;
    list-style: none;
}

#slider li {
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 1.25em 0;
    background: #f8f8f8;
}


/* ********** | NEW ARRIVALS SECTION | ********** */
.hero {
    background: url('../images/img01.jpg') center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero>div {
    position: absolute;
    top: 25%;
    right: 10%;
}

@media only screen and (max-width:61.9375em) {
    .hero>div {
        right: unset;
        left: 5%;
    }
}


.hero>div h3 {
    color: #fff;
    font-size: 3.125em;
    margin-bottom: 0.625em;
    font-weight: 300;
    width: 100%;
    max-width: 23.75em;
}

.hero>div p {
    color: #fff;
    font-size: 1.25em;
    margin-top: 0;
    font-weight: 300;
}

.hero>div a {
    margin-top: 2.5em;
    font-size: 1.25em;
    padding: 0.625em 1.5625em;
    border-radius: 0.0725em;
    background-color: #fff;
    color: #000;
    display: inline-block;
    line-height: 1.5em;
}

.hero>div a:hover {
    background-color: #ebebeb;
    left: 0;
}

/* ********** | NEW ARRIVALS SECTION 01 | ********** */
.main_show {
    margin-top: 5em;
}

.main_show h2 {
    color: #949aa1;
    font-weight: 300;
    padding: 0 0.625em 1em;
    text-align: center;
}

.main_show .container>div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main_show .container>div article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_show .container>div img {
    width: 100%;
    max-width: 40em;
}

.main_show .container>div h4 {
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 0;
}

.main_show .container>div p {
    color: #949aa1;
    text-align: center;
    font-size: 1em;
}

.main_show .container>div a {
    display: block;
    font-size: 1em;
    padding: 1em 1.5em;
    border: 0.0313em solid #b9babb;
    margin-bottom: 4em;
}

.main_show .container>div a:hover {
    left: 0;
    border: 0.0313em solid #464b4f;
}

.main_show div:nth-of-type(2) {
    background: url('../images/asset-10.jpeg') top center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* ********** | PRODUCT SECTION | ********** */
.main_show div:nth-of-type(3) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 6.25em;
}

.main_show div:nth-of-type(3)>a {
    width: 16.25em;
    margin-bottom: 1.25em;
    display: block;
}

.main_show div:nth-of-type(3)>a:hover {
    left: 0;
}

.main_show div:nth-of-type(3) p {
    font-size: 0.875em;
    margin-top: 0;
    color: #464b4f;
}

.main_show div:nth-of-type(3) p span {
    display: inline-block;
    margin-left: 0.8125em;
    color: #949aa1;
    font-size: 0.8125em;
}

.main_show div:nth-of-type(3) img {
    width: 16em;
    margin-bottom: 0.8125em;
}


/* ********** | SUBSCRIBE SECTION | **********  */
.main_show div:nth-of-type(4) {
    margin-top: 6.25em;
    background: url('../images/img11.jpg') center top no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 3em;
}

.main_show div:nth-of-type(4)>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10%;
}

.main_show div:nth-of-type(4) h2 {
    font-size: 3.4375em;
    color: #fff;
    font-weight: 300;
    margin-bottom: 0.625em;
    text-align: center;
}

.main_show div:nth-of-type(4) p {
    font-size: 1.25em;
    margin-top: 1.25em;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
}

.main_show div:nth-of-type(4) form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_show div:nth-of-type(4) input {
    min-width: 12.5em;
    max-width: 20%;
    height: 3.875em;
    padding-left: 1.25em;
    border: none;
    font-size: 1.125em;
    font-weight: 300;
}

.main_show div:nth-of-type(4) button {
    background-color: #91b898;
    margin-left: -0.3125em;
    min-width: 6.25em;
    max-width: 9.375em;
    height: 3.875em;
    border: none;
    font-size: 1.125em;
    font-weight: 300;
    cursor: pointer;
    color: #fff;
}

/* ********** | MENU BEFORE FOOTER SECTION | **********  */
/* Shop Arrivals */
.before_footer {
    display: flex;
    padding-top: 2em;
    padding-bottom: 2em;
}

.before_footer>div {
    flex: 1 0 50%;
}

.before_footer h3 {
    font-size: 1.5em;
    font-weight: 300;
    margin: 0 0 1em 0;
}

.before_footer>div div {
    display: flex;
    flex-wrap: wrap;
}

.before_footer>div div ul {
    margin: 0;
    padding: 0;
    flex-basis: 33%;
    list-style: none;
}

.before_footer>div div ul a {
    margin-top: 1em;
    display: block;
    color: #464b4f;
}

@media only screen and (max-width:61.9375em) {
    .before_footer>div div ul {
        flex-basis: 100%;
    }
}


/* New Items */

.before_footer div:nth-of-type(2)>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.before_footer div:nth-of-type(2) a:hover {
    left: 0;
}

.before_footer div:nth-of-type(2) a {
    display: block;
    width: 12.5em;
    position: relative
}

.before_footer div:nth-of-type(2) a img {
    width: 100%;
    height: auto
}

/* Hover Animation */
.before_footer div:nth-of-type(2) a .pic-1 {
    opacity: 1;
    transition: all .5s ease-out 0s
}

.before_footer div:nth-of-type(2) a:hover .pic-1 {
    opacity: 0
}

.before_footer div:nth-of-type(2) a .pic-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s ease-out 0s
}

.before_footer div:nth-of-type(2) a:hover .pic-2 {
    opacity: 1
}



@media only screen and (max-width:61.9375em) {
    .product-grid {
        margin-bottom: 1.875em
    }
}

/* ********** | FOOTER | ********** */
/* Nav Footer */
footer {
    background-color: #f8f8f8;
}

footer nav {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: space-between;
}

footer nav>div {
    display: flex;
    flex-direction: column;
}

footer nav div:first-child {
    justify-content: space-around;
    flex-direction: row;
}

footer nav div:first-child img {
    width: 10em;
    height: auto;
    margin-right: .75em;
}

footer nav div:first-child>div {
    flex: 1 0 50%;
}

footer nav h4 {
    font-size: 0.9375em;
    font-weight: 300;
}

footer nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

footer nav a,
footer nav p {
    margin-top: 1em;
    font-size: 0.8125em;
    display: block;
}

footer nav p {
    color: rgb(231, 77, 101);
}

@media only screen and (max-width:61.9375em) {
    footer nav {
        flex-wrap: wrap;
    }

    footer nav>div {
        flex-basis: 50%;
    }
}

/* Bottom Footer */
footer>section {
    background-color: #fff;
}

footer>section .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
    justify-content: center;
}

footer>section .container>div,
footer>section .container>ul {
    flex: 1 0 50%;
}

footer>section .container>div,
footer>section .container>ul a {
    color: #949aa1;
    font-size: 0.8125em;
}

footer>section .container>ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}

footer>section .container>ul li {
    margin: 0 .75em;
}

footer>section .container>ul a:hover {
    color: #000;
}

@media only screen and (max-width:61.9375em) {
    footer>section .container>div {
        text-align: center;
        margin-bottom: 1.5em;
    }

    footer>section .container>ul {
        justify-content: center;
    }
}


/* ********************************** */
/* ********** | PRODUCTS | ********** */
/* ********************************** */

/* ********** | MAIN | ********** */
.shown_side {
    display: flex;
}

/* ********** | Extra Nav | *********** */
.shown_side>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
}

.shown_side>ul a {
    margin-top: 1em;
    display: block;
    font-size: 0.875em;
}

/* ********** | Mobile Slider | ********** */
.mobile_slider {
    display: none;
    margin: 0 auto 2.5em;
}

.mobile_slider div {
    position: relative;
}

.mobile_slider img {
    width: 100%;
}

.mobile_slider a {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -1.375em;
    padding: 1em;
    color: #333;
    font-size: 1.125em;
    border-radius: 0 0.1875em 0.1875em 0;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all .3s;
}

.mobile_slider .next {
    left: unset;
    right: 0;
    border-radius: 0.1875em 0 0 0.1875em;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    left: unset;
    color: #fff
}


.mobile_slider img {
    -webkit-animation-name: slidesAnimation;
    -webkit-animation-duration: 1.5s;
    animation-name: slidesAnimation;
    animation-duration: 1.5s;
}

@-webkit-keyframes slidesAnimation {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes slidesAnimation {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media screen and (max-width: 61.9375em) {
    .shown_side>ul {
        display: none;
    }

    .mobile_slider {
        display: block;
    }

    aside {
        width: 100%;
    }

    .imagesshown {
        display: none;
    }

    .shown_side {
        flex-wrap: wrap;
    }
}

/* ********** | PHOTOS | *********** */
.imagesshown {
    display: flex;
    flex-direction: column;
    flex: 5;
    margin-bottom: 2em;
}

.imagesshown div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.imagesshown img {
    width: 45%;
    margin: 0.625em;
}

@media screen and (max-width: 61.9375em) {
    .imagesshown {
        display: none;
    }
}

/* ********** | PRODUCT DESIGN & COLORS | ********** */
aside {
    flex: 2;
    display: flex;
    flex-direction: column;
}

aside h3 {
    font-size: 1em;
    font-weight: 300;
    border-top: 0.0625em solid #f0f1f1;
    padding-top: 1.25em;
}

/* design_head */

.design_head {
    border-bottom: 0.0625em solid #f0f1f1;
    padding-bottom: 1.5em;
}

.design_head h2 {
    font-weight: 300;
    font-size: 1.5em;
}

.design_head div {
    color: #949aa1;
}

/* colors_selector */
.colors_selector span {
    color: #000;
}

.colors_selector p {
    font-size: 0.9375em;
    color: #949aa1;
    margin-bottom: 0.625em;
}

.colors_selector input[type=radio] {
    display: none;
}

.colors_selector input[type=radio]:checked+label span {
    transform: scale(1.25);
}

.colors_selector input[type=radio]:checked+label .red {
    border: 0.125em solid #711313;
}

.colors_selector input[type=radio]:checked+label .orange {
    border: 0.125em solid #873a08;
}

.colors_selector input[type=radio]:checked+label .yellow {
    border: 0.125em solid #816102;
}

.colors_selector input[type=radio]:checked+label .olive {
    border: 0.125em solid #505a0b;
}

.colors_selector input[type=radio]:checked+label .green {
    border: 0.125em solid #0e4e1d;
}

.colors_selector input[type=radio]:checked+label .teal {
    border: 0.125em solid #003633;
}

.colors_selector input[type=radio]:checked+label .blue {
    border: 0.125em solid #103f62;
}

.colors_selector input[type=radio]:checked+label .violet {
    border: 0.125em solid #321a64;
}

.colors_selector input[type=radio]:checked+label .purple {
    border: 0.125em solid #501962;
}

.colors_selector input[type=radio]:checked+label .pink {
    border: 0.125em solid #851554;
}

.colors_selector label {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    margin-right: .35em;
    cursor: pointer;
    border-radius: 50%;
}

.colors_selector label:hover span {
    transform: scale(1.25);
}

.colors_selector label span {
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;
}

.colors_selector label span.red {
    background: #DB2828;
}

.colors_selector label span.orange {
    background: #F2711C;
}

.colors_selector label span.yellow {
    background: #FBBD08;
}

.colors_selector label span.olive {
    background: #B5CC18;
}

.colors_selector label span.green {
    background: #21BA45;
}

.colors_selector label span.teal {
    background: #00B5AD;
}

.colors_selector label span.blue {
    background: #2185D0;
}

.colors_selector label span.violet {
    background: #6435C9;
}

.colors_selector label span.purple {
    background: #A333C8;
}

.colors_selector label span.pink {
    background: #E03997;
}


/* size_main */
.size_main {
    margin-top: 1.875em;
}

.size_main div {
    display: flex;
}

.size_main span {
    color: #000;
}

.size_main p {
    font-size: 0.9375em;
    color: #949aa1;
    margin-bottom: 0.625em;
}


.size_main input[type=radio] {
    display: none;
}

.size_main label,
.fav_btn {
    margin-right: 0.625em;
    background-color: #fff;
    font-size: 0.875em;
    height: 3.225em;
    width: 3.225em;
    border: 0.0313em solid #f0f1f1;
    color: #949aa1;
    cursor: pointer;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.size_main label:hover {
    color: #000;
    background: #f0f1f1;
}

.size_main input[type=radio]:checked+label {
    background-color: #f5f5f5;
}

/* fav_cart_btns */
.fav_cart_btns {
    margin-top: 0.625em;
    display: flex;
}

.fav_btn svg {
    stroke: #777a7c;
}

.fav_btn:hover svg path {
    fill: #777a7c;
}

.cart_btn {
    background-color: #91b898;
    font-size: 0.75em;
    height: 3.125em;
    border: 0.0313em solid #f0f1f1;
    font-size: 0.9375em;
    color: #fff;
    cursor: pointer;
    text-align: center;
    padding: 0 25%;
    margin-left: 0;
    transition: opacity .3s;
}

.cart_btn:hover {
    opacity: 80%;
}

/* stars_div */
.stars_div {
    display: flex;
}

.stars_div svg {
    margin-right: 0.3em;
}

/* specification_main */
.specification {
    list-style: none;
    padding: 0;
}

.specification li {
    display: flex;
    justify-content: space-between;
    margin-top: 0.8375em;
}

.specification div {
    color: #949aa1;
    font-size: 0.875em;
}

.specification div:nth-child(1) {
    flex-basis: 40%;
}

.specification div:nth-child(2) {
    flex-basis: 60%;
    color: #222;
}

/* chiipng */
.chiipng {
    border-top: 0.0625em solid #f0f1f1;
    padding-top: 1.25em;
    margin-top: 0.625em;
    padding-left: 0;
    list-style: none;
}

.chiipng li {
    font-size: 0.875em;
    color: #949aa1;
    margin-top: 0.8375em;
}

/* fit_quality */
.fit_quality h5 {
    font-weight: 300;
    margin-bottom: 0;
}

.fit_quality p {
    line-height: 1.5em;
    margin-top: 0.3125em;
}


/* ********** | PRODUCT SUBSCRIBE SECTION | **********  */
.subscribe_small {
    background-color: #f8f8f8;
}

.subscribe_small>div {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: space-around;
}

.subscribe_small div div {
    flex-basis: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe_small p {
    color: #464b4f;
}

.subscribe_small p span {
    font-weight: 600;
    color: #222;
    line-height: 1.5em;
}

.subscribe_small ul {
    list-style: none;
}

.subscribe_small li {
    color: #464b4f;
    line-height: 1.8em;
}

.subscribe_small li svg {
    position: relative;
    top: 0.1875em;
}

.subscribe_small form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe_small input {
    min-width: 12.5em;
    max-width: 20%;
    height: 3.875em;
    padding-left: 1.25em;
    border: none;
    font-size: 1.125em;
    font-weight: 300;
}

.subscribe_small button {
    background-color: #91b898;
    margin-left: -0.3125em;
    min-width: 6.25em;
    max-width: 9.375em;
    height: 3.875em;
    border: none;
    font-size: 1.125em;
    font-weight: 300;
    cursor: pointer;
    color: #fff;
}

@media only screen and (max-width:61.9375em) {
    .subscribe_small>div {
        flex-wrap: wrap;
    }

    .subscribe_small div div {
        flex-basis: 100%;
    }
}


/* #### FOTNS #### */
@font-face {
    font-family: 'Gordita Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Regular'), url('../fonts/Gordita Regular.woff') format('woff');
}

@font-face {
    font-family: 'Gordita Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Bold'), url('../fonts/Gordita Bold.woff') format('woff');
}


/* @font-face {
    font-family: 'Gordita Regular Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Regular Italic'), url('../fonts/Gordita Regular Italic.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Thin'), url('../fonts/Gordita Thin.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Thin Italic'), url('../fonts/Gordita Thin Italic.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Light';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Light'), url('../fonts/Gordita Light.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Light Italic'), url('../fonts/Gordita Light Italic.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Medium'), url('../fonts/Gordita Medium.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Medium Italic'), url('../fonts/Gordita Medium Italic.woff') format('woff');
} */


/* @font-face {
    font-family: 'Gordita Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Bold Italic'), url('../fonts/Gordita Bold Italic.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Black';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Black'), url('../fonts/Gordita Black.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Black Italic'), url('../fonts/Gordita Black Italic.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Ultra';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Ultra'), url('../fonts/Gordita Ultra.woff') format('woff');
}


@font-face {
    font-family: 'Gordita Ultra Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Ultra Italic'), url('../fonts/Gordita Ultra Italic.woff') format('woff');
} */
